name: CI
on: push
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: pnpm
      - run: pnpm install
      - run: pnpm format
      - run: pnpm lint
      - run: pnpm type
